node_modules/

.env

Advanced_Database_Management_Systems
Applied_Physics
Computer_Organization_and_Assembly_Language
Expository_Writing
Theo_Of_Automata_&_Formal_Lang
Web_Technologies
course_data.json