node_modules/

.env

COAL_attendance.json
course_data.json
Advanced_Database_Management_Systems
Applied_Physics
Expository_Writing
Theo_Of_Automata_&_Formal_Lang
Web_Technologies
Computer_Organization_and_Assembly_Language